<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.sms.mapper.SendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.sms.entity.Send">
        <id column="taskId" property="taskId" />
        <result column="content" property="content" />
        <result column="srcId" property="srcId" />
        <result column="destterminalId" property="destterminalId" />
        <result column="entityName" property="entityName" />
        <result column="msgId" property="msgId" />
        <result column="result" property="result" />
        <result column="sequenceid" property="sequenceid" />
        <result column="linkId" property="linkId" />
        <result column="msgsrc" property="msgsrc" />
        <result column="spid" property="spid" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="areacode" property="areacode" />
        <result column="status" property="status" />
        <result column="entityid" property="entityid" />
        <result column="realmsgid" property="realmsgid" />
        <result column="realresult" property="realresult" />
        <result column="submitDate" property="submitDate" />
        <result column="sendDate" property="sendDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        taskId AS "taskId", content AS "content", srcId AS "srcId", destterminalId AS "destterminalId", entityName AS "entityName", msgId AS "msgId", result AS "result", sequenceid AS "sequenceid", linkId AS "linkId", msgsrc AS "msgsrc", spid AS "spid", province AS "province", city AS "city", areacode AS "areacode", status AS "status", entityid AS "entityid", realmsgid AS "realmsgid", realresult AS "realresult", submitDate AS "submitDate", sendDate AS "sendDate"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.sms.model.result.SendResult" parameterType="cn.stylefeng.guns.modular.sms.model.params.SendParam">
        select
        <include refid="Base_Column_List"/>
        from send where 1 = 1
            <if test="paramCondition.taskId != null and paramCondition.taskId != ''">
                and taskId like CONCAT('%',#{paramCondition.taskId},'%')
            </if>
            <if test="paramCondition.srcId != null and paramCondition.srcId != ''">
                and srcId like CONCAT('%',#{paramCondition.srcId},'%')
            </if>
            <if test="paramCondition.destterminalId != null and paramCondition.destterminalId != ''">
                and destterminalId like CONCAT('%',#{paramCondition.destterminalId},'%')
            </if>
            <if test="paramCondition.entityName != null and paramCondition.entityName != ''">
                and entityName like CONCAT('%',#{paramCondition.entityName},'%')
            </if>
            <if test="paramCondition.entityid != null and paramCondition.entityid != ''">
                and entityid like CONCAT('%',#{paramCondition.entityid},'%')
            </if>
        <if test="paramCondition.submitDate != null and paramCondition.submitDate != ''">
            and (submitDate between CONCAT(#{senddate},' 00:00:00') and CONCAT(#{senddate},' 23:59:59'))
        </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.sms.model.params.SendParam">
        select
        <include refid="Base_Column_List"/>
        from send where 1 = 1
            <if test="paramCondition.taskId != null and paramCondition.taskId != ''">
                and taskId like CONCAT('%',#{paramCondition.taskId},'%')
            </if>
            <if test="paramCondition.srcId != null and paramCondition.srcId != ''">
                and srcId like CONCAT('%',#{paramCondition.srcId},'%')
            </if>
            <if test="paramCondition.destterminalId != null and paramCondition.destterminalId != ''">
                and destterminalId like CONCAT('%',#{paramCondition.destterminalId},'%')
            </if>
            <if test="paramCondition.entityName != null and paramCondition.entityName != ''">
                and entityName like CONCAT('%',#{paramCondition.entityName},'%')
            </if>
            <if test="paramCondition.entityid != null and paramCondition.entityid != ''">
                and entityid like CONCAT('%',#{paramCondition.entityid},'%')
            </if>
        <if test="paramCondition.submitDate != null and paramCondition.submitDate != ''">
            and (submitDate between CONCAT(#{senddate},' 00:00:00') and CONCAT(#{senddate},' 23:59:59'))
        </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.sms.model.result.SendResult" parameterType="cn.stylefeng.guns.modular.sms.model.params.SendParam">
        select
        <include refid="Base_Column_List"/>
        from send where 1 = 1
            <if test="paramCondition.taskId != null and paramCondition.taskId != ''">
                and taskId like CONCAT('%',#{paramCondition.taskId},'%')
            </if>
            <if test="paramCondition.srcId != null and paramCondition.srcId != ''">
                and srcId like CONCAT('%',#{paramCondition.srcId},'%')
            </if>
            <if test="paramCondition.destterminalId != null and paramCondition.destterminalId != ''">
                and destterminalId like CONCAT('%',#{paramCondition.destterminalId},'%')
            </if>
            <if test="paramCondition.entityName != null and paramCondition.entityName != ''">
                and entityName like CONCAT('%',#{paramCondition.entityName},'%')
            </if>
            <if test="paramCondition.entityid != null and paramCondition.entityid != ''">
                and entityid like CONCAT('%',#{paramCondition.entityid},'%')
            </if>
        <if test="paramCondition.senddate != null and paramCondition.senddate != ''">
            and (submitDate between CONCAT(#{senddate},' 00:00:00') and CONCAT(#{senddate},' 23:59:59'))
        </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.sms.model.params.SendParam">
        select
        <include refid="Base_Column_List"/>
        from send where 1 = 1
            <if test="paramCondition.taskId != null and paramCondition.taskId != ''">
                and taskId like CONCAT('%',#{paramCondition.taskId},'%')
            </if>
            <if test="paramCondition.srcId != null and paramCondition.srcId != ''">
                and srcId like CONCAT('%',#{paramCondition.srcId},'%')
            </if>
            <if test="paramCondition.destterminalId != null and paramCondition.destterminalId != ''">
                and destterminalId like CONCAT('%',#{paramCondition.destterminalId},'%')
            </if>
            <if test="paramCondition.entityName != null and paramCondition.entityName != ''">
                and entityName like CONCAT('%',#{paramCondition.entityName},'%')
            </if>
            <if test="paramCondition.entityid != null and paramCondition.entityid != ''">
                and entityid like CONCAT('%',#{paramCondition.entityid},'%')
            </if>
        <if test="paramCondition.senddate != null and paramCondition.senddate != ''">
            and (submitDate between CONCAT(#{senddate},' 00:00:00') and CONCAT(#{senddate},' 23:59:59'))
        </if>
    </select>
</mapper>
